<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nivel Principiante</title>
</head>
<body>
    {% include 'header.html' %}
    <center>
        <h1>¡Vocales!</h1>
        <p>Toca la tecla Space para que la cámara lea tu seña.</p>
        <p>¡Haz la seña que corresponde a la letra para ganar!</p>
        
        <div> 
            <img src="/video" style="border: 1px solid black;" alt="Cámara no disponible">
        </div>
    </center>
    {% include 'footer.html' %}
</body>
</html>
